{{define "content"}}
<h1 class="title is-3">Admin</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Display name</th>
            <th>Admin</th>
            <th>Date created</th>
            <th>Delete</th>
        </tr>
    </thead>
    {{ range .Data -}}
    <tbody>
    <tr>
        <td>{{.ID}}</td>
        <td>{{.Email}}</td>
        <td>{{.DisplayName}}</td>
        <td>{{.Admin}}</td>
        <td>{{.CreationDate}}</td>
        <td>
            <form action="/admin/delete_user" method="post">
                <input name="id" type="hidden" value="{{.ID}}" />
                <input class="button is-danger is-small" type="submit" value="X" />
            </form>
        </td>
    </tr>
    {{ end }}
    </tbody>
</table>

<a class="button is-primary" href="/admin/create_user">Create new user</a>
{{end}}
