{{define "content"}}
<div class="column columns is-centered">
    <form method="post" action="/login" class="column is-one-quarter">
        <div class="field">
            <label for="email">Email</label>
            <div class="control">
                <input class="input" name="email" type="email" />
            </div>
        </div>

        <div class="field">
        <label for="password">Password</label>
            <div class="control">
                <input class="input" name="password" type="password" />
            </div>
        </div>

        <div class="control">
            <input class="button is-primary" type="submit" value="Login" />
        </div>
    </form>
</div>
{{end}}
